# режим отладки
DEBUG=True
LOG_LEVEL=DEBUG

# базовый адрес приложения
BASE_URL=http://0.0.0.0:8010

# версия релиза проекта
PROJECT__RELEASE_VERSION=0.5.1

# ключ для работы с S3 - get put
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
