{% extends 'ecgs/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Список ЭКГ</h1>
                <a type="button" class="btn btn-outline-success"
                   href="{% url 'ecgs:ecg_create' %}">
                    Добавить ЭКГ
                </a>

            </div>

            <div class="col-lg-9">

                <div class="row">
                    {% for ecg in page_obj %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#">
                                    <img class="card-img-top"
                                         src="{{ ecg.image.url }}"
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ ecg.name }}
                                    </h4>
                                    <p class="card-text">{{ ecg.description }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    {% for image in ecg.get_buttons %}
                                        <a type="button" class="btn btn-outline-success mb-2 {{ image.args }}" href="{{ image.href }}">
                                            {{ image.text }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                
            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">ECG Digitizer 2024</p>
        </div>
    </footer>

{% endblock %}
